<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Dashboard</title>
      <link rel="stylesheet" href="dashboardCollege.css">
</head>
<body>
      <div class="container">
            <div class="sideBar">
                  <div class="section">Track Application</div>
                  <div class="section">Update Data</div>
                  <div class="section">Create Vacency</div>
                  <div class="section">Close Vacency</div>
                  <div class="section">Close Vacency</div>

            </div>
            <div class="box">
                  <div class="application">
                        <h3>Sachin Agarwal</h1>
                        <h4>Tittle</h2>
                        <p>About</p>
                        <h6>post</h6>
                  </div>
            </div>
      </div>
      <script src="application.js"></script>
</body>
</html>