<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Dashboard</title>
      <link rel="stylesheet" href="dashboardUser.css">
</head>
<body>
      <div class="navbar">
            
            <img src="img/Logo.png" alt="">
            <ul>
                  <li><a>Home</a></li>
                  <li><a>AboutUs</a></li>
                  <li><a>ContactUs</a></li>
                  <li><a href="/"class="logout">Log Out</a></li>
            </ul>
      </div>
      <div class="container">
            <div class="sideBar">
                  <div class="section">Track Applications</div>
                  <div class="section">Update Profile</div>
                  <div class="section"></div>
                  <div class="section"></div>
                  <div class="section"></div>
            </div>
            <div class="box">
                  <div class="post">
                        <div class="head">
                        <div class="image">
                        <img src="img/Colege.png" alt="">
                        </div>
                        <h4>NIT SILCHAR</h4>
                        </div>
                        <div class="subject">Subject</div>
                        <div class="roll">Roll</div>
                        <a href="">apply</a>
                  </div>
            </div>
      </div>
</body>
</html>